h1 {
    text-align: left;

    font-size: 40px;
}

i {
    font-size: 40px;
}

button {
    border:none;
    background-color: #FFEC9D;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 10px;
}
button:hover {
    background-color: #d0c081;
}

hr {
    border-width: 3px;
}

.banner {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .banner {
        width: auto;
        height: auto;
    }
}

.title {
    text-align: center;
    transform: translate(-50, -50)
}

.title h1 {
    font-size: 160px;
    color: black;
    font-weight: 600;
    text-align: center;
}

.title p {
    font-size: 80px;
    color: black;
    font-weight: 600;
}

#AiTool {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
