*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#FFEC9D;
}

.border{
    width: 420px;
    background: #EAD371;
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
}

.border h1{
    font-size: 36px;
    text-align: center;
}

.border .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 8px solid rgb(225,225,225,.2);
    border-radius:40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.border .remember-me {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-me label input {
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.border .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius:40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.border .register-now{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.register-now p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-now p a:hover{
    text-decoration: underline;
}
